{% for neighborhood in activityType.neighborhoods %}
    <div style="display:none" id="{{ neighborhood.getId() }}-{{ activityType.name }}">
        <div class="text-left popoverex">
            <h4>{{ neighborhood.name}}</h4>
            <table class="table" style="width:250px">
                <tbody class="blue-striped">
                {% for event in neighborhood.events %}
                    <tr>
                        <td>
                            <h5>{{ event.getSplitLineTitle() | raw }}</h5>
                            {{ event.startDate | date('D M j g:ia') }}
                            <br />
                            {% include "event.details.twig" %}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endfor %}